In [212]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [214]:
df=pd.read_csv("Desktop\\Project 1\\Property Price\\Property Prices in Tunisia.csv",na_values=[-1])
df.head()

,category,room_count,bathroom_count,size,type,price,city,region,log_price
0,Terrains et Fermes,NaN,NaN,NaN,À Vendre,100000.0,Ariana,Raoued,5.000000
1,Terrains et Fermes,NaN,NaN,NaN,À Vendre,316000.0,Ariana,Autres villes,5.499687
2,Appartements,2.0,1.0,80.0,À Louer,380.0,Ariana,Autres villes,2.579784
3,Locations de vacances,1.0,1.0,90.0,À Louer,70.0,Ariana,Autres villes,1.845098
4,Appartements,2.0,2.0,113.0,À Vendre,170000.0,Ariana,Ariana Ville,5.230449

In [215]:
import math
m1=math.floor(df.room_count.median())
m2=math.floor(df.bathroom_count.median())
m3=df['size'].median()

In [216]:
df['room_count'].fillna(m1,inplace=True)
df['bathroom_count'].fillna(m2,inplace=True)
df['size'].fillna(m3,inplace=True)

In [217]:
df['room_count']=df["room_count"].astype(int)

In [218]:
df['bathroom_count']=df["bathroom_count"].astype(int)

In [219]:
df_in=df.drop("price",axis=1)
target=df['price']

In [220]:
le=LabelEncoder()

In [221]:
df_in['ncategory']=le.fit_transform(df_in.category)
df_in['ntype']=le.fit_transform(df_in.type)
df_in['ncity']=le.fit_transform(df_in.city)
df_in['nregion']=le.fit_transform(df_in.region)
df_in.drop(['category','type','city','region'],axis=1,inplace=True)

In [222]:
df_in.head()

,room_count,bathroom_count,size,log_price,ncategory,ntype,ncity,nregion
0,3,1,120.0,5.000000,6,1,0,187
1,3,1,120.0,5.499687,6,1,0,7
2,2,1,80.0,2.579784,0,0,0,7
3,1,1,90.0,1.845098,3,0,0,7
4,2,2,113.0,5.230449,0,1,0,6

In [223]:
X_train, X_test, y_train, y_test = train_test_split(df_in,target,test_size=0.2)

In [224]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()

In [225]:
model.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [226]:
model.predict(X_test[0:5])

array([180000.,    400.,    350.,  19500., 170000.])

In [227]:
model.score(X_test,y_test)

0.9985810226956519

In [228]:
y_test.head()

891      180000.0
7901        400.0
2458        350.0
10333     19500.0
9471     170000.0
Name: price, dtype: float64